#gameScreen {
    display: block;
    margin: auto;
}

#gameBorder {
    fill: black;
    stroke-width: 5;
    stroke: rgb(0,100,0);   
}

h1 {
    position: absolute;
    top: 10px;
    right: 50px;
}

h2 {
    position: absolute;
    top: 60px;
    right: 50px;
}
